@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
*{
  margin: 0;
  padding: 0;
}
body {
  height: calc(100vh - 60px);
  color: #333;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
ul, li{
  list-style: none;
}
.minHeight{
  height: 100%;
  // overflow-x: hidden;
  padding-bottom: 40px;
}
// main-container global css
.app-container {
  padding: 20px;
}
.scroll-y{
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
  // margin-top: 10px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 120px);
}
.justify-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yin-header{
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .operate-btn{
    padding: 0 20px 0 50px;
    line-height: 50px;
  }
}
.yin-paging{
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-message{
  z-index: 3000 !important;
}
.inline-block{
  display:inline-block;
  margin-right:25px;
}
.inline-block .el-form-item{
  white-space: nowrap;
}
.inline-block .el-form-item__label{
  float:none;
  text-align: left;
}
.inline-block .el-form-item__content{
  display: inline-block;
}

.pagination {
  margin: 20px 0;
  text-align: right;
}

.type-badge {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  color: transparent;
}

.primary {
  background-color: #409eff;
}

.danger {
  background-color: #f93d3d;
}

.warn {
  background-color: #e6a23c;
}

.success {
  background-color: #094;
}

.info {
  background-color: #c5cac4;
}


.bg-w {
    background:#fff;
}

.m-b-20 {
  margin-bottom: 20px;
}
.p-20 {
  padding: 20px;
}
.p-v-20 {
  padding: 20px 0;
}
.p-h-20 {
  padding: 0 20px;
}
.m-r-20 {
  margin-right: 20px;
}
