// sidebar
$menuText:#555;
$menuActiveText: #333;
$subMenuActiveText:#222; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #f2f7fb;
$menuHover: #c0d9ec;

$subMenuBg:#e3e9ef;
$subMenuHover:#c0d9ec;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
